.comment-form {
  margin-top: 30px;

  textarea {
    margin-bottom: 0;
      height: 100px;
      margin-right: 0;
      display: block;
      border: 1px solid #e5e7f2;
      max-width: 100%;
      padding: 20px;
      background: #f7f9fb;
  }

  input {
    height: 50px;
    line-height: 50px;
    box-shadow: none;
    border: 0;
    width: 100%;
    margin-bottom: 25px;
    width: 100%;
    border: 1px solid #e5e7f2;
    background: #f7f9fb;
  }

  button {
    width: 100%;
    height: 50px;
    background: #212121;
    border: 2px solid transparent;
    color: #fff;
    font-weight: bold;
    font-size: 18px;

    &:hover {
      color: #212121;
      background: transparent;
      border: 2px solid #212121;
    }
  }
}
