// Responsive Breakpoints
$xl: "(min-width: 1200px)";
/* Portrait tablets and medium desktops */
$l: "(min-width: 992px) and (max-width: 1199px)";
/* Portrait tablets and small desktops */
$m: "(min-width: 768px) and (max-width: 991px)";
/* Landscape phones and portrait tablets */
$s: "(max-width: 767px)";
/* Landscape phones and smaller */
$xs: "(max-width: 369px)";
@import 'clean-vc';
@import 'fh-hero';
@import 'header';
@import 'footer';
@import 'contact-map';
@import 'instagram-item';
@import 'procedure-item';
@import 'procedure-content';
@import 'post-single';
@import 'post-item';
@import 'slider';
@import 'yt-slider';
@import 'faq';
@import 'blog';
@import 'social-banner';
@import 'comment-form';
@import 'newsletter-form';
@import 'cta';
@import 'testimonial';
@import 'testimonials';

body, html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #F6F6F6;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: #212121;
}

p {
  line-height: 1.6;
}

h1,h2,h3,h4 {
  font-family: 'PT Sans', sans-serif;
  line-height: 1.2;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1.1px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input, textarea {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-control {
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.btn {
  padding: 6px 20px;
  box-shadow: 0px 0px 4px 0 rgba(0,0,0, .05);
  font-size: 16px;
  border: 0;
  transition: .3s all;

  &:hover {
    box-shadow: 0px 0px 6px 0 rgba(0,0,0, .2);
  }
}

.btn-main {
  background: #000;
  color: #f1f1f1;
}

.btn-main:hover {
  color: #ccc;
}

.container-box {
  background: #fff;
  box-shadow: 0 0 20px 5px rgba(0,0,0, .1);
}

.section-title {
  text-align: center;
  padding-bottom: 60px;

}

.iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

}

.form-box {
  padding: 20px !important;
  background: #fff;
  color: #212121;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.03);
  margin-top: 15%;

  .form-control {
    background: #F9F9F9;
  }

  .btn {
    font-weight: bold;
  }
}


.hero-img {
  padding: 0 30px !important;
}

.menu-social {
  font-size: 24px;
  margin-top: -4px !important;
  padding: 0 5px !important;
}

.title {
  display: inline-block;
  padding-bottom: 15px;
  &-center {
    &::after {
      margin: 0 auto;
    }
  }

  &::after {
    display: block;
    content: ' ';
    width: 40%;
    border-bottom: 6px solid #000;
    padding-top: 15px;
  }
}

.alert {
  border: none;
}

.content-dark {
  color: #fff;
  .wpb_wrapper {
    padding: 20px 40px;

    @media #{$m} {
      padding: 20px;
    }
  }

}

.inner-without-padding {
  .vc_column-inner {
    padding: 0 !important;
  }
}

.title-half {
  width: 50%;
  margin-bottom: 30px;

  @media #{$s}, #{$m} {
    width: 100%;
  }
}

.section-center {
  text-align: center;
  width: 80%;
  margin: 60px auto;
  padding-bottom: 60px;

  h3 {
    margin-bottom: 30px;
  }
}

.overflow-visible {
  .vc_row[data-vc-full-width] {
    overflow: visible !important;
  }
  overflow: visible !important;
}

.vc_row[data-vc-full-width] {
  overflow: visible !important;
}

.pagination {

  &-container {
    display: flex;
    justify-content: center;
  }

  .btn {
    min-width: 170px;
    padding: 16px 25px;
    color: #212121;
    border: 2px solid #212121;
    background: transparent;
    font-weight: bold;
  }

}

.social-widget {
  display: flex;
  a {
    font-size: 18px;
    padding-right: 20px;
  }
}