.procedure-item {
  width: 100%;
  text-align: center;
  padding: 15px 15px 30px 15px;
  // background: #fff;
  // border-radius: 5px;
  transition: .3s all;
  // box-shadow: 0 0 4px 0px rgba(0,0,0,0.05);
  margin-bottom: 15px;

  // &:hover {
  //   box-shadow: 0 0 4px 0px rgba(0,0,0, 0.2);
  // }

  img {
    width: 80%;
    border-radius: 50%;
    display: block;
    margin: 30px auto;
  }

  h4 {
    font-size: 20px;
    color: #D2A11E;
  }

  a {
    font-weight: bold;
    color: #414141;
    background: transparent;
    border: solid 2px #414141;
    box-shadow: none;

    &:hover {
      color: #fff;
      background: #414141;
    }
  }
}