.slick-slide img {
  width: 100%;
}

.slider {
  position: relative;

  &__btn {
    position: absolute;
    top: 45%;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    background: #E6E6E6;
    color: #fff;
    border-radius: 55px;
    font-size: 32px;

    &-next {
      right: 25px;
    }

    &-prev {
      left: 25px;
    }
  }

}