.testimonials {
  position: relative;

  &__dots {
    position: absolute;
    bottom: 50px;
    width: 100%;
    left: 0;
    right: 0;

    .slick-dots li.slick-active button:before {
      color: #D2A11E;
    }

    .slick-dots li button:before {
      font-size: 12px;
      color: #D2A11E;
    }

    .slick-dots li {
      margin: 0 1px;

    }
  }

  &-item {
    display: flex !important;
    align-items: center;
    position: relative;

    &__content {
      position: absolute;
      min-height: 100px;
      width: 30%;
      padding: 40px;
      background: #212121;
      color: #fff;
      border-radius: 0 4px 4px 0;
      box-shadow: 4px 0 8px 2px rgba(0, 0, 0, 0.1);

      h5 {
        font-size: 22px;
      }

      span {
        font-size: 18px;
      }

      @media #{$m} {
        width: 40%;
      }

      @media #{$s} {
        position: relative;
        width: 100%;
        top: 0;
      }
    }
  }
}